@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Michroma&display=swap');

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    // font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Michroma', sans-serif;
    background-color: #f0f8f4;
    word-wrap: break-word;
}

.app {
    position: relative;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(./Img/okai-vehicles-vNuRh8jOtXA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .app-header {
        width: 100%;
        text-align: left;
        background-color: #bbd1d2ec;
        background: #CDE5E6;
        background: -moz-linear-gradient(left, #cde5e681 0%, #BBD1D2 50%, #94A5A6 100%);
        background: -webkit-linear-gradient(left, #cde5e6c3 0%, #BBD1D2 50%, #94A5A6 100%);
        background: linear-gradient(to right, #cde5e67c 0%, #bbd1d2da 50%, #8ebbdae8 100%);
        box-shadow: 0px 5px 11px -5px rgba(0,0,0,0.56);
        h1 {
            width: 200px;
            color: #35484C;
            background: #bbd1d2;
            text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.467);
            padding: 20px 20px 20px 60px;
            text-transform: uppercase;
            font-size: 40px;
            font-family: 'Gruppo', cursive;
            cursor: pointer;
        }
    }
    .app-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        .content {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            width: 70vw;
            gap: 20px;
            @media (max-width: 510px) {
                width: 100vw;
            }
            .create,
            .read,
            .statistics {
                margin-bottom: 20px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 5px;
                background-color: #fffffff6;
                box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.10);
                .top {
                    background-color: #EDEEF3;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    h3 {
                        width: 100%;
                        padding: 5px;
                        text-align: center;
                        box-shadow: 0px 7px 11px -5px rgba(0,0,0,0.15);
                        letter-spacing: 2px;
                        color: #676570;
                    }
                }
                .form,
                .list,
                .stat-row {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    padding: 15px;
                    font-size: 12px;
                    letter-spacing: 1px;
                    line-height: 1.5em;
                    gap: 20px;
                    font-weight: bold;
                    color: #5a5862;
                    .input {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 5px;
                    }
                    input[type="text"],
                    input[type="date"],
                    input[type="number"] {
                        border: 1px solid #b9b5c8;
                        border-radius: 5px;
                        font-family: 'Michroma', sans-serif;
                        color: #3c3b41;
                        font-size: 10px;
                        line-height: 1.5em;
                        height: 25px;
                        letter-spacing: 1px;
                        padding: 2px;
                    }
                    #form-checkbox {
                        display: none;
                    }
                    .button {
                        background-color: #E0E9E6;
                        border: 1px solid #c4d6d0a2;
                        box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.48);
                        border-radius: 5px;
                        padding: 10px 15px;
                        min-height: 40px;
                        max-width: 80px;
                        text-align: center;
                        font-family: 'Michroma', sans-serif;
                        color: #5a5862;
                        letter-spacing: 1px;
                        font-weight: bold;
                    }
                    .button:hover {
                        background-color: #bbd1d2;
                        transition: 0.5s;
                        cursor: pointer;
                    }
                }
                ul {
                    min-width: 100%;
                    .row {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        padding: 20px 10px;
                        gap: 40px;
                        border-bottom: 2px solid #d4d0e3;
                        list-style: none;
                        @media (max-width: 1194px) {
                            justify-content: space-around; 
                        }
                        .item {
                            width: 280px;
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            justify-content: center;
                            gap: 10px;
                            .item-row {
                                border: 2px solid #d4d0e3;
                                border-radius: 5px;
                                padding: 5px;
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                gap: 10px;
                                color: #5a5862;
                            }
                        }
                        .isBusy {
                            color: #f2efef;
                            text-align: center;
                            font-size: 12px;
                            line-height: 1.8em;
                            letter-spacing: 1px;
                            width: fit-content;
                            height: 32px;
                            padding: 5px 20px;
                            border-radius: 20px;
                        }
                        .buttons {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 10px;
                            @media (max-width: 1194px) {
                                flex-direction: row; 
                            }
                            .btnScooter {
                                background-color: #E0E9E6;
                                border: 1px solid #c4d6d0a2;
                                box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.48);
                                border-radius: 5px;
                                padding: 10px 15px;
                                min-height: 40px;
                                min-width: fit-content;
                                text-align: center;
                                font-family: 'Michroma', sans-serif;
                                color: #5a5862;
                                letter-spacing: 1px;
                                font-weight: bold;
                            }
                            .btnScooter:hover {
                                background-color: #bbd1d2;
                                transition: 0.5s;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        // .img {
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: center;
        //     align-items: stretch;
        //     background-image: url(./Img/okai-vehicles-vNuRh8jOtXA-unsplash.jpg);
        //     background-size: cover;
        //     background-position: center;
        //     background-repeat: no-repeat;
        //     width: 30vw;
        //     height: 100vh;
        //     z-index: -1;
        //     @media (max-width: 510px) {
        //         display: none;
        //     }
        // }
    }
    .app-footer {
        margin-top: 20px;
        min-height: 50px;
        min-width: 100%;
        padding: 20px;
        text-align: center;
        background-color: #bbd1d2;
        box-shadow: 0px -5px 11px -5px rgba(0,0,0,0.56);
        color: #ffffff;
    }
    .modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .edit {
            position: fixed;
            margin-left: 5vw;
            margin-right: 5vw;
            margin-top: 20vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 5px;
            background-color: #ffffff;
            box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.10);
            .top {
                background-color: #EDEEF3;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                h3 {
                    width: 100%;
                    padding: 5px;
                    text-align: center;
                    box-shadow: 0px 7px 11px -5px rgba(0,0,0,0.15);
                    letter-spacing: 2px;
                    color: #676570;
                }
            }
            .form {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                padding: 15px;
                font-size: 12px;
                letter-spacing: 1px;
                line-height: 1.5em;
                gap: 20px;
                font-weight: bold;
                color: #5a5862;
                .input {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 5px;
                }
                input[type="text"],
                input[type="date"],
                input[type="number"] {
                    border: 1px solid #b9b5c8;
                    border-radius: 5px;
                    font-family: 'Michroma', sans-serif;
                    color: #3c3b41;
                    font-size: 10px;
                    line-height: 1.5em;
                    height: 25px;
                    letter-spacing: 1px;
                    padding: 2px;
                }
                .buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 10px;
                    @media (max-width: 724px) {
                        flex-direction: row; 
                    }
                    .isBusy {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                    }
                    .btnScooter {
                        background-color: #E0E9E6;
                        border: 1px solid #c4d6d0a2;
                        box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.48);
                        border-radius: 5px;
                        padding: 10px 15px;
                        min-height: 40px;
                        min-width: fit-content;
                        text-align: center;
                        font-family: 'Michroma', sans-serif;
                        color: #5a5862;
                        letter-spacing: 1px;
                        font-weight: bold;
                    }
                    .btnScooter:hover {
                        background-color: #bbd1d2;
                        transition: 0.5s;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}